h1 {
    margin: 0;
}

p {
    margin: 10px 5px;
    text-align: justify;
    font-family: 'Abyssinica SIL', sans-serif;
    font-size: 14px;
}
#intro_section {
    display: flex;
    flex-direction: row;
}
#main_body {
    max-width: 900px;
    background-color: aqua;
    margin: 20px auto;
}

#cv_page {
    background-color: azure;
    border: 20px;
}

#top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 67, 125);
    margin: 0;
}

#personal_image {
    width: 150px;
    height: 180px;
    border-radius: 100px;
    margin: 0;
    margin-left: 50px;
    flex: 1;
    border: 2px solid #fff;
}

#name_details {
    flex: 3;
    margin: 0 50px;
}

#name {
    font-size: 80px;
    margin: 0;
    color: #161B40;
    text-align: center;
}

#job_role {
    color: #fff;
    margin: 0 20px;
    text-align: center;
}

#email, #tel_no{
    text-decoration: none;
    color: #161B40;
}

.icon_style_class {
    margin-right: 10px;
    color: #142aef;
}

#main_page {
    display: flex;
    margin: 0;
}

#side_panel {
    flex: 1;
    margin: 10px;
}

#page_info {
    margin: 10px 20px;
    flex: 3;
}

#education_heading {
    color: #161B40;
}